.gradient-background {
  background: linear-gradient(300deg,#429e82, #4a9b9b, #428eac);
  background-size: 180% 180%;
  animation: gradient-animation 6s ease infinite;
  height: 100vh;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.home-header {
  display: flex;
  justify-content: center;
  padding: .25rem 0 .25rem 0;
}

.login_form {
  display: flex;
  justify-content: center;
  align-items: center;
}