h1 {
  text-align: center;
  margin-bottom: 24px;
  border-bottom: solid;
  border-radius: 15px;
  padding: 6px 15px 6px 15px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
@media (max-width:770px) {
  .buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.opt {
  border-radius: 24px;
  border-color: rgb(197, 197, 197);
  margin: 10px;
}

.home-header {
  display: flex;
  justify-content: center;
  padding: .25rem 0 .25rem 0;
}

.schedule strong {
  display: grid;
  background-color: white;
  color: black;
  font-size: large;
  justify-content: center;
}

table {
  width: 60%;
  border: solid;
  table-layout:fixed;

}
@media (max-width:770px) {
  table {
    width: 100%;
  }
}

